<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <style>
    #header form { margin: 5px 2px 0; }
    #header form input { margin: 7px 3px 0; }
  </style>
<title><?php echo $title; ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/application/views/template/css/style.css" />
</head>
<body>
<div id="wrapper">
  <div id="header">

    <h1><a href="/index.php/admin/homepage">Blog Başlığı</a></h1>
    <div class="break"></div>
    <ul>
      <li><a href="/index.php/admin/homepage">Anasayfa</a></li>
      <li><a href="/index.php/admin/about">Hakkında</a></li>
      <li><a href="/index.php/admin/addPostView">Yazı Ekle</a></li>
      <li><a href="/index.php/admin/seeCategories">Kategorileri Düzenle</a></li>
      <li><a href="/index.php/admin/seeUnapprovedComments">Onay Bekleyen Yorumlar</a></li>
      <li><a href="/index.php/admin/changePasswordView">Şifre Değiştir</a></li>
      <li><a href="/index.php/admin/logOut">Çıkış</a></li>
    </ul>
  </div>