<div id="body">
  <div id="content">
    <div align="center"><br><br>
      <form action="/index.php/admin/updateAdminUserNamePassword" method="POST">
        <table cellpadding="5" cellspasing="5">
          <tr>
            <td>Username:</td>
            <td><input type="text" name="username"><br></td>
          </tr>
          <tr>
            <td>Password: </td>
            <td><input type="password" name="password"><br></td>
          </tr>     
          <tr>
            <td></td>
            <td><input type="submit" value="Değiştir"></td>
          </tr>           
        </table>
        <p>**Kullanıcı adınız ve şifreniz en fazla 10, en düşük 4 karakterden oluşmalıdır</p>
        <p>**Kullanıcı adınız ve şifreniz sadece harf ve sayı içerebilir.</p>                        
      </form>
    </div>
  </div>