<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/application/views/template/css/style.css" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <h1><a href="/index.php/pages/index">Blog Başlığı</a></h1>
    <div class="break"></div>
  </div>
  <div id="body">
    <div id="content">
      <div align="center">
        <form action="/index.php/admin/login" method="POST">
          <table cellpadding="5" cellspasing="5">
            <tr>
              <td>Username:</td>
              <td><input type="text" name="username"><br></td>
            </tr>
            <tr>
              <td>Password: </td>
              <td><input type="password" name="password"><br></td>
            </tr>     
            <tr>
              <td></td>
              <td><input type="submit" value="Login"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </table>
        </form>
        <br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
    <div class="break"></div>
  </div>
  <div id="footer">  
  </div>
</div>
</body>
</html>
