<div id="body">
  <div id="content">
    <div class="first post">
      <br><a href="https://www.facebook.com/ozgurrincee" target="_blank"><img width="110" height="130" src="/application/views/template/css/images/facebook.png" alt="" /></a>
      <div align="center">
        <a href="https://twitter.com/ozgurr_26" target="_blank"><img width="110" height="130" src="/application/views/template/css/images/twitter.jpg" alt="" /></a>
      </div>
      <div align="right">
        <a href="https://www.linkedin.com/profile/view?id=325440619&trk=nav_responsive_tab_profile_pic" target="_blank"><img width="110" height="130" src="/application/views/template/css/images/linkedin.gif" alt="" /></a>
      </div>
      <h1>e-mail: oince026@gmail.com</h1>
    </div>      
  </div>