<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <style>
    #header form { margin: 5px 2px 0; }
    #header form input { margin: 7px 3px 0; }
  </style>

<script Language="JavaScript"> 
Function mesaj( ) { 
Alert(Yorumunuz Gonderiildi) } 
</script> 
<title><?php echo $title; ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/application/views/template/css/style.css" />
</head> 
<body>
  <div id="wrapper">
  <div id="header">
    <h1><a href="/index.php/pages/index">Blog Başlığı</a></h1>
    <div class="break"></div>    
    <ul>
      <li><a href="/index.php/pages/index">ANASAYFA</a></li>
      <li><a href="/index.php/pages/about">HAKKINDA</a></li>
      <li><a href="/index.php/pages/contact">İLETİŞİM</a></li>
    </ul>
  </div>