  
  <div id="body">
    <div id="content">
       <?php  $i=0; foreach ($posts as $post) {  
       // $category = $categoryOfPosts[$i]->categoryName;
       foreach ($categoryOfPosts as $categoriess) {
         if ($categoriess->postID == $post->postID) {
            $category = $categoriess->categoryName;
         }
       }
        ?>
         <!-- yazi başlangıcı -->         
                  <div class="post">
                    <div class="l">
                       <p><strong><?php
                       $this->load->helper('date'); 
                       $datestring = "%d.%m.%Y"; 
                       echo mdate($datestring, $post->date); ?></strong></p>
                       <p><strong>Category: </strong> <?php echo $category; $i++; ?></p>
                      <h2></h2>         
                    </div>
                    <div class="r">
                      <h2><a href="/index.php/pages/readPostForUser/<?php echo $category . "/" .$post->postID; ?>"><?php echo $post->title; ?></a></h2>
                      <p><?php echo $post->postContent; ?></p>
                      <p class="details"> <a class="link1" href="/index.php/pages/readPostForUser/<?php echo $category . "/" .$post->postID; ?>"> Read More</a></p>
                    </div>
                  </div>
          <!-- yazı sonu -->
        <?php   }  ?>
    </div>
    